@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
body {
  margin: 0; }

button.mostrar_carrinho {
  position: fixed;
  right: 0;
  font-size: 50px;
  border: none;
  background: none;
  color: #0d4210;
  bottom: 0;
  padding: 20px; }
  button.mostrar_carrinho:focus {
    outline: none; }

h1.title {
  font-family: poppins;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500; }

section.lista_itens {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px; }
  section.lista_itens .item {
    width: calc((100% - 2px) / 3);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #ececec;
    text-align: center;
    font-family: poppins; }
    section.lista_itens .item:nth-child(3n) {
      border-right: none; }
    section.lista_itens .item .imagem {
      width: 100%;
      height: 200px;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: 250px !important;
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    section.lista_itens .item h2 {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 500; }
    section.lista_itens .item .price {
      display: flex;
      width: 300px;
      margin: 10px auto;
      justify-content: space-around; }
      section.lista_itens .item .price p {
        margin: 0;
        font-size: 20px; }
        section.lista_itens .item .price p.old {
          color: #0000005c; }
    section.lista_itens .item button {
      margin: 20px 0 30px;
      width: 150px;
      height: 40px;
      border: none;
      background: #006f07;
      font-size: 18px;
      color: white;
      border-radius: 5px; }
      section.lista_itens .item button:focus {
        outline: none; }
section.carrinho {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  height: 100%;
  background: white;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-family: poppins;
  transition: all .5s; }
  section.carrinho[data-active="false"] {
    transform: translateX(100%); }
  section.carrinho button.close {
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    font-size: 25px; }
    section.carrinho button.close:focus {
      outline: none; }
  section.carrinho h2 {
    margin: 10px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  section.carrinho .list_itens {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: calc(100% - 58px - 132px - 90px );
    overflow: auto; }
    section.carrinho .list_itens .item {
      display: flex;
      padding: 15px; }
      section.carrinho .list_itens .item div.imagem {
        border: 1px solid rgba(0, 0, 0, 0.4);
        width: 100px;
        height: 100px;
        background-position: center !important;
        background-size: 90px !important;
        background-repeat: no-repeat !important; }
      section.carrinho .list_itens .item div.content {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 120px); }
        section.carrinho .list_itens .item div.content p {
          margin: 0;
          font-size: 14px; }
          section.carrinho .list_itens .item div.content p.name {
            font-size: 16px;
            font-weight: 500; }
          section.carrinho .list_itens .item div.content p.old_price {
            color: #0000005c; }
  section.carrinho .valor {
    padding: 25px 15px 75px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative; }
    section.carrinho .valor .frete_gratis {
      background: #c7ffa6;
      color: #358914;
      font-weight: normal;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 12px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      display: none; }
      section.carrinho .valor .frete_gratis.active {
        display: block; }
  section.carrinho button.finalizar_compra {
    background: #3b74f2;
    border: none;
    color: white;
    font-size: 18px;
    width: calc(100% - 30px);
    height: 50px;
    margin: 20px 15px;
    border-radius: 7px; }

section.banner {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative; }
  section.banner .content {
    background: rgba(0, 49, 132, 0.7);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    section.banner .content img {
      display: block;
      margin-bottom: 60px; }
    section.banner .content h1 {
      font-family: poppins;
      font-size: 62px;
      font-weight: 500;
      color: white;
      text-align: center;
      width: 690px;
      line-height: 75px;
      margin: 0 0 60px; }
    section.banner .content a {
      text-decoration: none;
      background: white;
      display: block;
      font-family: poppins;
      text-transform: uppercase;
      font-weight: 500;
      color: #38383b;
      padding: 11px 85px;
      font-size: 18px;
      transition: all .3s; }
      section.banner .content a:hover {
        border-radius: 10px; }
section.content_1 {
  display: flex;
  justify-content: center; }
  section.content_1 .content {
    width: 1150px;
    padding: 33px 0 60px; }
    section.content_1 .content h2 {
      font-family: poppins;
      font-size: 50px;
      font-weight: 500;
      color: #383838;
      margin: 0; }
    section.content_1 .content p.subtitle {
      font-family: poppins;
      margin: 0;
      font-weight: 500;
      color: #383838;
      font-size: 18px; }
    section.content_1 .content .itens {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 45px; }
      section.content_1 .content .itens .item {
        height: 340px;
        margin-bottom: 30px;
        position: relative;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        cursor: pointer;
        overflow: hidden; }
        section.content_1 .content .itens .item:hover:after {
          transition: all 1s;
          left: calc(100% + 100px); }
        section.content_1 .content .itens .item:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5); }
        section.content_1 .content .itens .item:after {
          content: '';
          position: absolute;
          background: rgba(255, 255, 255, 0.1);
          height: 120%;
          width: 20px;
          top: -10%;
          transform: rotate(7deg);
          left: -100px;
          opacity: .2; }
        section.content_1 .content .itens .item.item_1 {
          width: 360px; }
        section.content_1 .content .itens .item.item_2 {
          width: calc(100% - 360px - 30px); }
        section.content_1 .content .itens .item.item_3 {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          section.content_1 .content .itens .item.item_3 h3 {
            margin: 20px 0 0; }
        section.content_1 .content .itens .item.item_4 {
          width: calc(100% - 360px - 30px); }
          section.content_1 .content .itens .item.item_4 h3, section.content_1 .content .itens .item.item_4 p {
            text-align: right; }
        section.content_1 .content .itens .item.item_5 {
          width: 360px; }
        section.content_1 .content .itens .item h3 {
          position: relative;
          font-family: poppins;
          font-weight: 500;
          font-size: 52px;
          color: white;
          margin: 35px 0 0;
          line-height: 50px;
          padding: 0 30px; }
        section.content_1 .content .itens .item p {
          position: relative;
          font-family: poppins;
          padding: 0 30px;
          font-weight: 500;
          color: white;
          font-size: 20px;
          margin: 17px 0 0; }
section.content_2 {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  position: relative; }
  section.content_2 .title {
    width: 1150px;
    position: absolute;
    top: 80px; }
    section.content_2 .title h2 {
      font-family: poppins;
      font-size: 50px;
      font-weight: 500;
      color: #383838;
      margin: 0; }
    section.content_2 .title p {
      font-family: poppins;
      margin: 0;
      font-weight: 500;
      color: #383838;
      font-size: 18px; }
  section.content_2 .itens {
    width: 1150px;
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    section.content_2 .itens .item {
      width: 170px; }
      section.content_2 .itens .item.item_1 .body {
        height: calc(325px - (50px * 5)); }
      section.content_2 .itens .item.item_2 .body {
        height: calc(325px - (50px * 4)); }
      section.content_2 .itens .item.item_3 .body {
        height: calc(325px - (50px * 3)); }
      section.content_2 .itens .item.item_4 .body {
        height: calc(325px - (50px * 2)); }
      section.content_2 .itens .item.item_5 .body {
        height: calc(325px - 50px); }
      section.content_2 .itens .item.item_6 .body {
        height: 325px; }
      section.content_2 .itens .item .head {
        background: #005499;
        color: white;
        font-size: 32px;
        font-weight: 500;
        font-family: poppins;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 45px;
        height: 95px;
        padding: 0 20px; }
        section.content_2 .itens .item .head span {
          font-size: 21px;
          line-height: 20px; }
      section.content_2 .itens .item .body {
        background: #0088ed;
        color: white;
        padding: 0 20px 20px;
        font-family: poppins;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: flex-end; }

@media (max-width: 1300px) {
  section.lista_itens .item {
    width: calc(50% - 1px); }
    section.lista_itens .item:nth-child(3n) {
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
    section.lista_itens .item:nth-child(2n) {
      border-right: none; } }

@media (max-width: 1190px) {
  section.content_1 .content {
    width: 1000px; } }
@media (max-width: 1050px) {
  section.content_1 .content {
    width: 750px; }
    section.content_1 .content .itens .item {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      section.content_1 .content .itens .item h3 {
        text-align: center !important;
        margin: 0 !important; }
      section.content_1 .content .itens .item p {
        text-align: center !important;
        font-size: 16px; } }
@media (max-width: 1190px) {
  section.content_2 .title {
    width: 1000px; }
  section.content_2 .itens {
    width: 1000px; }
    section.content_2 .itens .item {
      width: 150px; }
      section.content_2 .itens .item .head span {
        font-size: 18px; } }
@media (max-width: 1050px) {
  section.content_2 {
    flex-wrap: wrap; }
    section.content_2 .title {
      width: 750px;
      position: relative; }
    section.content_2 .itens {
      width: 750px;
      flex-wrap: wrap;
      margin-top: 30px; }
      section.content_2 .itens .item {
        width: calc((100% - 20px) /3);
        margin-bottom: 10px; }
        section.content_2 .itens .item .body {
          height: 60px !important; } }

@media (max-width: 830px) {
  button.mostrar_carrinho {
    font-size: 40px; } }

@media (max-width: 830px) {
  h1.title {
    font-size: 30px; } }

@media (max-width: 830px) {
  section.lista_itens {
    margin-top: 20px; }
    section.lista_itens .item {
      width: 100%;
      border-right: none !important; }
      section.lista_itens .item h2 {
        font-size: 16px; }
      section.lista_itens .item .price {
        width: 250px; }
        section.lista_itens .item .price p {
          font-size: 16px; } }

@media (max-width: 700px) {
  section.banner .content {
    height: 500px; }
    section.banner .content img {
      margin-bottom: 30px; }
    section.banner .content h1 {
      font-size: 45px;
      width: 500px;
      line-height: 55px;
      margin: 0 0 50px; } }
@media (max-width: 800px) {
  section.content_1 .content {
    text-align: center; }
    section.content_1 .content .itens .item {
      width: 100% !important; } }
@media (max-width: 800px) {
  section.content_2 .title {
    text-align: center; }
  section.content_2 .itens .item {
    width: calc((100% - 10px) /2); } }

@media (max-width: 530px) {
  section.banner .content {
    height: 430px; }
    section.banner .content img {
      width: 150px; }
    section.banner .content h1 {
      font-size: 32px;
      width: 360px;
      line-height: 45px;
      margin: 0 0 40px; }
    section.banner .content a {
      padding: 10px 70px;
      font-size: 15px; } }
@media (max-width: 540px) {
  section.content_1 .content h2 {
    font-size: 36px; }
  section.content_1 .content p.subtitle {
    font-size: 14px; }
  section.content_1 .content .itens .item {
    height: 200px;
    margin-bottom: 15px; }
    section.content_1 .content .itens .item h3 {
      font-size: 40px;
      line-height: 40px; }
    section.content_1 .content .itens .item p {
      font-size: 13px;
      margin: 10px 0 0; } }
@media (max-width: 540px) {
  section.content_2 .title h2 {
    font-size: 36px; }
  section.content_2 .title p {
    font-size: 14px; } }

/*# sourceMappingURL=principal.css.map */
