@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
