body{margin: 0;}



//CARRINHO
button.mostrar_carrinho{
    position: fixed;
    right: 0;
    font-size: 50px;
    border: none;
    background: none;
    color: #0d4210;
    bottom: 0;
    padding: 20px;

    &:focus{
        outline: none;
    }
}
h1.title{
    font-family: poppins;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
section{    
    &.lista_itens{
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 30px;
        
        .item{
            width: calc((100% - 2px) / 3);
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            background-color: rgb(236, 236, 236);
            text-align: center;
            font-family: poppins;

            &:nth-child(3n){
                border-right: none;
            }
            
            .imagem{
                width: 100%;
                height: 200px;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: 250px !important;
                background-color: white;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
            h2{
                margin-bottom: 0;
                font-size: 20px;
                font-weight: 500;
            }
            .price{
                display: flex;
                width: 300px;
                margin: 10px auto;
                justify-content: space-around;

                p{
                    margin: 0;
                    font-size: 20px;

                    &.old{
                        color: #0000005c;
                    }
                    &.new{}
                }
            }

            button{
                margin: 20px 0 30px;
                width: 150px;
                height: 40px;
                border: none;
                background: #006f07;
                font-size: 18px;
                color: white;
                border-radius: 5px;

                &:focus{
                    outline: none;
                }
            }
        }
    }

    &.carrinho{
        position: fixed;
        top: 0;
        right: 0;
        width: 360px;
        height: 100%;
        background: white;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        z-index: 1;
        font-family: poppins;
        transition: all .5s;

        &[data-active="false"]{
            transform: translateX(100%);
        }

        button.close{
            color: red;
            position: absolute;
            right: 10px;
            top: 10px;
            border: none;
            background: none;
            font-size: 25px;

            &:focus{
                outline: none;
            }
        }

        h2{
            margin: 10px 0;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
        }
        .list_itens{
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            height: calc(100% - 58px - 132px - 90px );
            overflow: auto;

            .item{
                display: flex;
                padding: 15px;

                div{
                    &.imagem{
                        border: 1px solid rgba(0, 0, 0, 0.4);
                        width: 100px;
                        height: 100px;
                        background-position: center !important;
                        background-size: 90px !important;
                        background-repeat: no-repeat !important;
                    }
                    &.content{
                        padding-left: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: calc(100% - 120px);

                        p{
                            margin: 0;
                            font-size: 14px;

                            &.name{
                                font-size: 16px;
                                font-weight: 500;
                            }
                            &.old_price{
                                color: #0000005c;
                            }
                            &.price{}
                        }
                    }
                }
            }
        }
        .valor{
            padding: 25px 15px 75px;
            font-weight: 700;
            font-size: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            position: relative;

            span#total{}
            .frete_gratis{
                background: #c7ffa6;
                color: #358914;
                font-weight: normal;
                font-size: 14px;
                padding: 5px 10px;
                border-radius: 12px;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                width: fit-content;
                display: none;

                &.active{
                    display: block;
                }
            }
        }
        button.finalizar_compra{
            background: #3b74f2;
            border: none;
            color: white;
            font-size: 18px;
            width: calc(100% - 30px);
            height: 50px;
            margin: 20px 15px;
            border-radius: 7px;
        }
  
    }
}


//LAYOUT 2
section{
    &.banner{
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        position: relative;

        .content{
            background: rgba(0, 49, 132, 0.7);
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            img{
                display: block;
                margin-bottom: 60px;
            }
            h1{
                font-family: poppins;
                font-size: 62px;
                font-weight: 500;
                color: white;
                text-align: center;
                width: 690px;
                line-height: 75px;
                margin: 0 0 60px;
            }
            a{
                text-decoration: none;
                background: white;
                display: block;
                font-family: poppins;
                text-transform: uppercase;
                font-weight: 500;
                color: #38383b;
                padding: 11px 85px;
                font-size: 18px;
                transition: all .3s;

                &:hover{
                    border-radius: 10px;
                }
            }
        }
    }

    &.content_1{
        display: flex;
        justify-content: center;

        .content{
            width: 1150px;
            padding: 33px 0 60px;

            h2{
                font-family: poppins;
                font-size: 50px;
                font-weight: 500;
                color: #383838;
                margin: 0;
            }
            p.subtitle{
                font-family: poppins;
                margin: 0;
                font-weight: 500;
                color: #383838;
                font-size: 18px;
            }
    
            .itens{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 45px;

                .item{
                    height: 340px;
                    margin-bottom: 30px;
                    position: relative;
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    cursor: pointer;
                    overflow: hidden;

                    &:hover{
                        &:after{
                            transition: all 1s;
                            left: calc(100% + 100px);
                        }
                    }

                    &:before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, .5);
                    }

                    &:after{
                        content: '';
                        position: absolute;
                        background: rgba(255, 255, 255, .1);
                        height: 120%;
                        width: 20px;
                        top: -10%;
                        transform: rotate(7deg);
                        left: -100px;
                        opacity: .2;
                    }

                    &.item_1{
                        width: 360px;
                    }
                    &.item_2{
                        width: calc(100% - 360px - 30px);
                    }
                    &.item_3{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h3{
                            margin: 20px 0 0;
                        }
                    }
                    &.item_4{
                        width: calc(100% - 360px - 30px);

                        h3, p{
                            text-align: right;
                        }
                    }
                    &.item_5{
                        width: 360px;
                    }
    
                    h3{
                        position: relative;
                        font-family: poppins;
                        font-weight: 500;
                        font-size: 52px;
                        color: white;
                        margin: 35px 0 0;
                        line-height: 50px;
                        padding: 0 30px;
                    }
                    p{
                        position: relative;
                        font-family: poppins;
                        padding: 0 30px;
                        font-weight: 500;
                        color: white;
                        font-size: 20px;
                        margin: 17px 0 0;
                    }
                }
            }
        }
    }

    &.content_2{
        background: #f4f4f4;
        display: flex;
        justify-content: center;
        position: relative;

        .title{
            width: 1150px;
            position: absolute;
            top: 80px;

            h2{
                font-family: poppins;
                font-size: 50px;
                font-weight: 500;
                color: #383838;
                margin: 0;
            }
            p{
                font-family: poppins;
                margin: 0;
                font-weight: 500;
                color: #383838;
                font-size: 18px;
            }
        }

        .itens{
            width: 1150px;
            padding: 90px 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .item{
                width: 170px;

                &.item_1{
                    .body{
                        height: calc(325px - (50px * 5));
                    }
                }
                &.item_2{
                    .body{
                        height: calc(325px - (50px * 4));
                    }
                }
                &.item_3{
                    .body{
                        height: calc(325px - (50px * 3));
                    }
                }
                &.item_4{
                    .body{
                        height: calc(325px - (50px * 2));
                    }
                }
                &.item_5{
                    .body{
                        height: calc(325px - 50px);
                    }
                }
                &.item_6{
                    .body{
                        height: 325px;
                    }
                }
    
                .head{
                    background: #005499;
                    color: white;
                    font-size: 32px;
                    font-weight: 500;
                    font-family: poppins;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    line-height: 45px;
                    height: 95px;
                    padding: 0 20px;

                    span{
                        font-size: 21px;
                        line-height: 20px;
                    }
                }
                .body{
                    background: #0088ed;
                    color: white;
                    padding: 0 20px 20px;
                    font-family: poppins;
                    font-size: 12px;
                    line-height: 15px;
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
    }
}