//CARRINHO
section{    
    &.lista_itens{
        @media (max-width: 1300px){
            .item{
                width: calc(50% - 1px);

                &:nth-child(3n){
                    border-right: 1px solid rgba(0, 0, 0, 0.2);
                }
                &:nth-child(2n){
                    border-right: none;
                }
            }
        }
    }
}


//LAYOUT 2
section{
    &.content_1{
        @media (max-width: 1190px){
            .content{
                width: 1000px;
            }
        }
        @media (max-width: 1050px){
            .content{
                width: 750px;

                .itens{
                    .item{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h3{
                            text-align: center !important;
                            margin: 0 !important;
                        }
                        p{
                            text-align: center !important;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    &.content_2{
        @media (max-width: 1190px){
            .title{
                width: 1000px;
            }
    
            .itens{
                width: 1000px;

                .item{
                    width: 150px;

                    .head{
                        span{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        @media (max-width: 1050px){
            flex-wrap: wrap;

            .title{
                width: 750px;
                position: relative;
            }
    
            .itens{
                width: 750px;
                flex-wrap: wrap;
                margin-top: 30px;

                .item{
                    width: calc((100% - 20px) /3);
                    margin-bottom: 10px;
        
                    .body{
                        height: 60px !important;
                    }
                }
            }
        }
    }
}