//LAYOUT 2
section{
    &.banner{
        @media (max-width: 530px){
            .content{
                height: 430px;

                img{
                    width: 150px;
                }
                h1{
                    font-size: 32px;
                    width: 360px;
                    line-height: 45px;
                    margin: 0 0 40px;
                }
                a{
                    padding: 10px 70px;
                    font-size: 15px;
                }
            }
        }
    }

    &.content_1{
        @media (max-width: 540px){
            .content{
                h2{font-size: 36px;}
                p.subtitle{font-size: 14px;}
        
                .itens{
                    .item{
                        height: 200px;
                        margin-bottom: 15px;
        
                        h3{
                            font-size: 40px;
                            line-height: 40px;
                        }
                        p{
                            font-size: 13px;
                            margin: 10px 0 0;
                        }
                    }
                }
            }
        }

    }

    &.content_2{
        @media (max-width: 540px){
            .title{
                h2{font-size: 36px;}
                p{font-size: 14px;}
            }
        }
    }
}