//CARRINHO
button.mostrar_carrinho{
    @media (max-width: 830px){font-size: 40px;}
}
h1.title{
    @media (max-width: 830px){font-size: 30px;}
}
section{    
    &.lista_itens{
        @media (max-width: 830px){
            margin-top: 20px;

            .item{
                width: 100%;
                border-right: none !important;
                
                .imagem{
                }
                h2{
                    font-size: 16px;
                }
                .price{
                    width: 250px;

                    p{
                        font-size: 16px;
                    }
                }
    
                button{
                }
            }
        }
    }
}


//LAYOUT 2
section{
    &.banner{
        @media (max-width: 700px){
            .content{
                height: 500px;

                img{
                    margin-bottom: 30px;
                }
                h1{
                    font-size: 45px;
                    width: 500px;
                    line-height: 55px;
                    margin: 0 0 50px;
                }
            }
        }
    }

    &.content_1{
        @media (max-width: 800px){
            .content{
                text-align: center;
                .itens{
                    .item{
                        width: 100% !important;
                    }
                }
            }
        }
    }

    &.content_2{
        @media (max-width: 800px){
            .title{
                text-align: center;
            }
            .itens{
                .item{
                    width: calc((100% - 10px) /2);
                }
            }
        }
    }
}